/* style001.css */

body
{
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
    margin: 0;
}

h1
{
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
}

.axis-label
{
    color: rgb(150, 150, 150);
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.value-box
{
    font-size: 40px;
    font-family: monospace;
    color: rgb(0, 255, 255);
    margin-bottom: 10px;
    font-weight: bold;
}

button
{
    border: solid 1px rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px 10px;
    background-color: rgb(0, 150, 255);
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

button:hover
{
    border-color: rgb(0, 255, 255);
    color: rgb(0, 255, 255);
}

button:active
{
    color: rgb(255, 0, 255);
    /* transform: translateY(2px); */
}

/*----*/

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2026 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

